DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=app
DB_USERNAME=app
DB_PASSWORD=app

CRM_BASE_URL=https://web-aden-eds-web-pre.azurewebsites.net/API
CRM_LOGIN_ENDPOINT=/Users/login
CRM_REFRESH_ENDPOINT=/Users/login
CRM_USERNAME=your@email
CRM_PASSWORD=your_password
