- name: Deploy via SSH
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.SSH_HOST }}
    username: ${{ secrets.SSH_USER }}
    port: ${{ secrets.SSH_PORT }}
    key: ${{ secrets.SSH_PRIVATE_KEY }}
    debug: true
    script: |
      whoami
      hostname
      cd "${{ secrets.DEPLOY_PATH }}"
      git fetch origin
      git reset --hard origin/dev
      docker compose up -d --build
